@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Holtwood+One+SC&family=Neucha&family=Paytone+One&family=Playwrite+PE:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: #ffcdff;
  font-family: "Neucha", cursive;
  margin-top: 70px;
}
