@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Holtwood+One+SC&family=Neucha&family=Paytone+One&family=Playwrite+PE:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: #ffcdff;
  font-family: "Neucha", cursive;
  margin-top: 70px;
}

/* styles.css */

.post {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
}

.like-button {
  background-color: #f071e9;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.like-button.liked {
  background-color: #e06c6c; /* Color para el botón "liked" */
}
